<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your New Vacation: {{vacation.location}}</h1>
    <h1>How long you will be gone: {{vacation.days}}</h1>
    <h1>How will you get there: {{vacation.method}}</h1>

    <div class="">
      <a href="/vacations/{{vacation._id}}/edit">Edit Vacation</a>
      <a href="/vacations/{{vacation._id}}/delete">Delete Vacation</a>
    </div>

  </body>
</html>
